body {
    background: linear-gradient(#d9f0f7, #eef6f8);
    overflow-x: hidden;
  } 
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(1, 70, 1), rgb(51, 255, 0));
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(rgb(110, 180, 245), rgb(1, 1, 112));
    border-radius: 20px;
}

  
.nav-active{
    background-color: #7048ff;
    color: white !important;
    border-radius: 5px;
    width: 70px;
    padding: 5px;
    text-align: center;
}
.nav-item1{
    margin-left: 400px;
}
.nav-item:hover{
    border-bottom: solid  #ff4880;
}
.navbar-shadow{ 
    box-shadow: 10px 10px 10px #e9e9
}
.banner_text{
    background-image: url("../images/Bg.png");
    background-size: cover;
    width: 100%;
    padding: 117px;
    height: 700px;
}

.banner_text button{
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    font-weight: 500;
    background-color: #ff4880;
    color: white;
    font-size: 1rem;
    border: 1px solid #ff4880;
}
.banner_text button:hover{
border-radius: 10px;
text-align: left;
cursor: pointer;
font-weight: 500;
background-color: #271344;;
color: white;
border: 1px solid #2b010e;
}
.banner_text h1{
    font-weight: 1500px;
    text-align: left;
    color: #271344;
}

.custom-subheading{
    font-family: "Schoolbell, Sans-serif";
    font-size: 25px;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    color: #ff4880;
}
.nav-link1{
    width: 70px;
    border-radius: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.why-heading{
    color: rgb(236, 199, 77); ;
    font-family: cursive;
    letter-spacing: 5px;
    font-weight: 1000;
      
}
.why-heading2{
    font-size: 60px;
    color: #1b0d30;
    clear: both;
    line-height: 1.2;
}
.card-body1{
    color: #FFFFFF;
    margin-bottom: 15px;
    background-color: #FF6666;
    margin-bottom: 15px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px !important;
    border-radius: 20px !important;
    box-shadow: 10px 10px 10px#df4040;
}
.card-body1 h3{
    font-size: 25px;
    font-family: cursive;
}

.card-body1 img{
    height: 60px;
    width: 160px;
    margin-left: 44px !important;
    border: dashed;
    padding: 10px;
}
.card-body2{
    color: #FFFFFF;
    margin-bottom: 15px;
    background-color: #FFC000;
    margin-bottom: 15px;
    font-size: 17px;
    margin-left: 30px !important;
    border-radius: 20px !important;
    box-shadow: 10px 10px 10px #cc9901;
}
.card-body2 img{
    height: 160px;
    width: 160px;
    margin-left: 44px !important;
    border: dashed;
    padding: 10px;
}
.card-body2 h3{
    font-size: 25px;
    font-family: cursive;
}
.card-body3{
    color: #FFFFFF;
    margin-bottom: 15px;
    background-color: #ABCD52;
    margin-bottom: 15px;
    font-size: 17px;
    margin-left: 30px !important;
    border-radius: 20px !important;
    box-shadow: 10px 10px 10px#354214;
}
.card-body3 img{
    height: 160px;
    width: 160px;
    margin-left: 44px !important;
    border: dashed;
    padding: 10px;
}
.card-body3 h3{
    font-size: 25px;
    font-family: cursive;


}
.f-btn{
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    background-color: #ff4880;
    color: white;
    border: 1px solid #ff4880;
}
.f-btn:hover{
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    background-color: #ff4880;
    color: white;
    border: 1px solid #ff4880;
    padding: 12px;
}
.second-card{
    margin-left: 130px !important;
}
.card-heading1{
    font-size: 25px;
    color: #1b0d30;
    font-weight: bold;
}
.card-heading2{
    font-size: 25px;
    color: #1b0d30;
    font-weight: bold;
}
.card-heading3{
    font-size: 25px;
    color: #1b0d30;
    font-weight: bold;
}

.footer{
    background-color: #351C5A;
    color: white;
}
input{
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input-button{
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    background-color: #ff4880;
    color: white;
    font-size: 1rem;
    border: 1px solid #ff4880;
}
.input-button:hover{
    border-radius: 10px;
text-align: center;
cursor: pointer;
font-weight: 500;
background-color: #f0f0f0;;
color: rgb(101, 1, 141);
border: 1px solid #2b010e;

}
.teacher-button{
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    background-color: #ff4880;
    color: white;
    font-size: 1rem;
    border: 5px solid #ff4880;
    margin-left: 610px;
}
.teacher-button:hover{
border-radius: 10px;
text-align: center;
cursor: pointer;
font-weight: 500;
background-color: #271344;;
color: white;
border: 5px solid  #271344;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

h3 {
    text-align: center;
    color:rgb(236, 199, 77);
    font-family: cursive;
}

.form-control {
    font-size: 13px;
    border-color: #dde0e1;
    padding-left: 22px;
    padding-right: 22px;
}
.bgForm{
    background: grey;


}
.container-fluid-icon{
    margin-top:30px ;

}
.card-title{
    color: rgb(10, 10, 49);
    text-align: center;
}
.card-text{
    text-align: center;
    color:  #ff4880 ;
}
.banner-Profile{
    background-position: 100%;  
    height: 550px;
    width: 100%;
    margin-top: 10px;
    background-attachment: inherit;
   display: flex;
   justify-content: center;
   align-items: center;
   color:rgb(10, 10, 49) !important;
   background-color: grey;
}
.mb-5{
    color: white;
}
.about-welcome-header{
    color: rgb(10, 10, 49);
    font-size: 60px;
   font-family:  Arial, sans-serif;

}
.welcome-paragraph{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.banner-About{
    background-position: 100%;  
    height: 550px;
    width: 100%;
    margin-top: 10px;
    background-attachment: inherit;
   display: flex;
   justify-content: center;
   align-items: center;
   color:rgb(10, 10, 49) !important;
   background-color: #1AB9FF;
    
}
#left-section {
    flex: 1;
  }

  #right-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }
  .about-us-img{
    width: 100%;
    height: auto;
    display: block;
  }

